default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
    - id: yamllint

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages:
          - commit-msg
        args:
          - --force-scope

  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint
        description: Run markdown lint using the project docker image
        language: docker_image
        files: \.(md|mdown|markdown)$
        exclude: (\..*\/.*|.*\.marp\.md)$
        entry: markdownlint/markdownlint:0.15.0
