---
name: Function lint and validate

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: '1.26.0'
  PYTHON_VERSION: '3.14.3'

permissions:
  contents: read
  pull-requests: write

jobs:
  lookup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 1

      - name: Get changed folders
        id: lookup
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files_yaml: |
            docs:
              - '**/*.md'
            function:
              - '!**/package/input/inputs.yaml'
              - '!*.md'
            inputs:
              - '**/package/input/inputs.yaml'
              - '!*.md'
            yaml:
              - '**/*.yaml'
              - '**/*.yml'
    outputs:
      docs: ${{ steps.lookup.outputs.docs_any_changed }}
      function: ${{ steps.lookup.outputs.function_any_changed }}
      inputs: ${{ steps.lookup.outputs.inputs_any_changed }}
      yaml: ${{ steps.lookup.outputs.yaml_any_changed }}

  validate-function:
    needs: lookup
    runs-on: ubuntu-latest
    if: ${{
        needs.lookup.outputs.function == 'true' &&
        github.event_name == 'pull_request' && github.event.pull_request.merged != true
      }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Restore cached tools
        id: cache-tools-restore
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .tools
          key: ${{ runner.os }}-tools-${{ hashFiles('**/Makefile') }}

      - name: Validate function
        run: make validate

      - name: Cache tools
        id: cache-tools-save
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .tools
          key: ${{ steps.cache-tools-restore.outputs.cache-primary-key }}

  validate-inputs:
    needs: lookup
    runs-on: ubuntu-latest
    if: ${{
        needs.lookup.outputs.inputs == 'true' &&
        github.event_name == 'pull_request' && github.event.pull_request.merged != true
      }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install kubectl-validate
        run: go install sigs.k8s.io/kubectl-validate@v0.0.4

      - name: Run kubectl-validate
        run: kubectl-validate package/input/inputs.yaml

  lint-docs:
    needs: lookup
    runs-on: ubuntu-latest
    if: ${{
        needs.lookup.outputs.docs == 'true' &&
        github.event_name == 'pull_request' && github.event.pull_request.merged != true
      }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Lint Markdown
        uses: actionshub/markdownlint@6c82ff529253530dfbf75c37570876c52692835f # v3.1.4
        with:
          filesToIgnoreRegex: (\..*\/.*)$

  yaml-lint:
    runs-on: ubuntu-latest
    needs: lookup
    if: ${{
        needs.lookup.outputs.yaml == 'true' &&
        github.event_name == 'pull_request' && github.event.pull_request.merged != true
      }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip

      - run: pip install yamllint

      - id: yaml-lint
        name: YAML lint
        run: yamllint .
